<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가위 바위 보 게임 웹 버전</title>
</head>
<body>

<h1>가위 바위 보 게임 웹 버전</h1>

<div>
    <form action="" method="post">
    <select name="guest">
        <option value="">가위 바위 보</option>
        <option value="가위">가위</option>
        <option value="바위">바위</option>
        <option value="보">보</option>
    </select>
    <input type="submit" value="제출">
    </form>

</div>

<!-- 모니터 -->
<hr>
<div>
    {{ data.g }}
    <hr>
    {{ data.b }}
</div>

<div>
    사용자 : 가위 컴퓨터 : 바위 졌습니다.
</div>

<div>
    승 : 4 무 : 6 패 : 5
</div>

<div>
    <table>
        <tr>
            <td>#</td>
            <td>컴퓨터</td>
            <td>사용자</td>
            <td>결과</td>
        </tr>
        <tr>
            <td>#</td>
            <td>컴퓨터</td>
            <td>사용자</td>
            <td>결과</td>
        </tr>
    </table>
</div>

</body>
</html>