<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가위 바위 보 게임 웹 버전</title>
</head>
<body>

<h1>가위 바위 보 게임 웹 버전</h1>

<div>
    <form action="" method="post">
    <select name="guest">
        <option value="">가위 바위 보</option>
        <option value="가위">가위</option>
        <option value="바위">바위</option>
        <option value="보">보</option>
    </select>
    <input type="submit" value="제출">
    </form>
</div>

<div>{{ data.msg }}</div>

<div>
    승 : {{ data.w }} 무 : {{ data.d }} 패 : {{ data.l }}
</div>

<div>
    <table>
        <tr>
            <td>#</td>
            <td>컴퓨터</td>
            <td>사용자</td>
            <td>결과</td>
        </tr>


    {% for element in data.gh %}
            <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.user_choice }}</td>
            <td>{{ element.computer_choice }}</td>
            <td>{{ element.result }}</td>
        </tr>
    {% endfor %}


    </table>
</div>

</body>
</html>